form(action="/books/add/book" method="POST")
	h1 Add book
	.group
		label(for="title") Title:
		br
		input(type="text" id="title" name="title" required)
	.group
		label(for="description") Description:
		br
		input(type="text" id="description" name="description" required)
	button ADD

a(href="/books" style='text-decoration: none; color: #dd3737; font-size: 40px; font-weight: bold') Back
