h1 You are wellcom!
a(href="/books" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #ea640f") Manager Books
br
br
a(href="/users" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #ea640f") Manager Users 
br
br
a(href="/transactions" style="text-decoration: none; font-size: 30px; font-weight: bold; color: #ea640f") Danh sách người mượn 