a(href="/books/see" style='text-decoration: none; color: #2fabd5; font-size: 20px; font-weight: bold; padding-left: 15px') Xem Sách
a(href="/books/add" style='text-decoration: none; color: #2fd547; font-size: 20px; font-weight: bold; padding: 15px') Thêm Sách
a(href="/books/modify" style='text-decoration: none; color: #a02fd5; font-size: 20px; font-weight: bold; padding: 15px') Sửa tiêu đề
a(href="/books/delete" style='text-decoration: none; color: #dd3737; font-size: 20px; font-weight: bold; padding: 15px') Xóa
