form(action="/users/add/user" method="POST")
	h1(style="font-family: Arial, sans-serif;") Add user
	.group
		label(for="name") Name:
		br
		input(type="text" id="name" name="name" required)
	.group
		label(for="phone") Phone:
		br
		input(type="text" id="phone" name="sdt" required)
	button ADD

a(href="/users" style='text-decoration: none; color: #dd3737; font-family: Arial, sans-serif;font-size: 40px; font-weight: bold') Back
