form(action="/users/add/user" method="POST")
	h1 Add user
	.group
		label(for="title") Title:
		br
		input(type="text" id="title" name="title" required)
	.group
		label(for="description") Description:
		br
		input(type="text" id="description" name="description" required)
	button ADD

a(href="/users" style='text-decoration: none; color: #dd3737; font-size: 40px; font-weight: bold') Back
