h1(style="font-family: Arial, sans-serif;") Danh sách người mượn

table(style="text-align: left")
	tr
		th User
		th Title
		th Finish
	each collection in collections
		tr
			td
				span= collection.userId
			td
				span= collection.bookId
			td
				a(href="transactions/" + collection.id + "/complete"  style="text-decoration: none;font-family: Arial, sans-serif; font-size: 15px; font-weight: bold; color: #00c108;") Hoàn Thành
br
a(href="/transactions/create" style="text-decoration: none;font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; color: #ea640f") Mượn sách