h1(style="font-family: Arial, sans-serif;") Danh sách người mượn

ul
	each collection in collections
		li
			span= collection.name

a(href="/transactions/create" style="text-decoration: none;font-family: Arial, sans-serif; font-size: 20px; font-weight: bold; color: #ea640f") Mượn sách