html
  head
    link(rel="shortcut icon" href="https://cdn.glitch.com/0bc82ea6-53ff-4e77-ac4f-e6de6d16214e%2Ffavicon.ico?v=1588234058840")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
  body
    nav(class="nav justify-content-center")
      block nav
      a(href="/" class="nav-link active") 
        button(type="button" class="btn btn-info") Home
    block content 